<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOlt7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5
		Ijoic3dpZnRzb3VwIiwibG9jYXRpb24iOnsicmVtb3RlIjpbeyJ1cmxTdHJp
		bmciOiJodHRwczpcL1wvZ2l0aHViLmNvbVwvc2NpbmZ1XC9Td2lmdFNvdXAu
		Z2l0In1dfSwicHJvZHVjdEZpbHRlciI6bnVsbCwicmVxdWlyZW1lbnQiOnsi
		cmFuZ2UiOlt7Imxvd2VyQm91bmQiOiIyLjcuNiIsInVwcGVyQm91bmQiOiIz
		LjAuMCJ9XX19XX0seyJzb3VyY2VDb250cm9sIjpbeyJpZGVudGl0eSI6InN3
		aWZ0dWktdG9hc3RzIiwibG9jYXRpb24iOnsicmVtb3RlIjpbeyJ1cmxTdHJp
		bmciOiJodHRwczpcL1wvZ2l0aHViLmNvbVwvc3VuZ2h5dW4ta1wvc3dpZnR1
		aS10b2FzdHMuZ2l0In1dfSwicHJvZHVjdEZpbHRlciI6bnVsbCwicmVxdWly
		ZW1lbnQiOnsicmFuZ2UiOlt7Imxvd2VyQm91bmQiOiIwLjIuMCIsInVwcGVy
		Qm91bmQiOiIxLjAuMCJ9XX19XX1dLCJkaXNwbGF5TmFtZSI6Ik91dHNwaXJl
		IiwicGFja2FnZUtpbmQiOnsicm9vdCI6e319LCJwbGF0Zm9ybXMiOlt7Im9w
		dGlvbnMiOltdLCJwbGF0Zm9ybU5hbWUiOiJpb3MiLCJ2ZXJzaW9uIjoiMTcu
		MCJ9XSwicHJvZHVjdHMiOlt7Im5hbWUiOiJPdXRzcGlyZSIsInNldHRpbmdz
		IjpbeyJidW5kbGVJZGVudGlmaWVyIjpbImRldi53cnllLk91dHNwaXJlIl19
		LHsidGVhbUlkZW50aWZpZXIiOlsiVDJLVFRUNjVMMiJdfSx7ImRpc3BsYXlW
		ZXJzaW9uIjpbIjAuNC41Il19LHsiYnVuZGxlVmVyc2lvbiI6WyI2Il19LHsi
		aU9TQXBwSW5mbyI6W3siYWNjZW50Q29sb3IiOnsicHJlc2V0Q29sb3IiOnsi
		cHJlc2V0Q29sb3IiOnsicmF3VmFsdWUiOiJjeWFuIn19fSwiYXBwQ2F0ZWdv
		cnkiOnsicmF3VmFsdWUiOiJwdWJsaWMuYXBwLWNhdGVnb3J5LmVkdWNhdGlv
		biJ9LCJhcHBJY29uIjp7ImFzc2V0Ijp7Im5hbWUiOiJBcHBJY29uIn19LCJj
		YXBhYmlsaXRpZXMiOlt7ImFwcFRyYW5zcG9ydFNlY3VyaXR5Q29uZmlndXJh
		dGlvbiI6eyJleGNlcHRpb25Eb21haW5zIjpbeyJkb21haW5OYW1lIjoiMTAx
		LjIzMC4xLjE3MyIsImV4Y2VwdGlvbkFsbG93c0luc2VjdXJlSFRUUExvYWRz
		Ijp0cnVlLCJpbmNsdWRlc1N1YmRvbWFpbnMiOnRydWV9XX0sInB1cnBvc2Ui
		OiJhcHBUcmFuc3BvcnRTZWN1cml0eSJ9LHsicHVycG9zZSI6ImZhY2VJRCIs
		InB1cnBvc2VTdHJpbmciOiJSZXF1aXJlZCB0byBwcm90ZWN0IHNlbnNpdGl2
		ZSBwcml2YWN5LCBpbmNsdWRpbmcgYWNhZGVtaWMgZ3JhZGVzLCBldGMuIn0s
		eyJwdXJwb3NlIjoibG9jYXRpb25XaGVuSW5Vc2UiLCJwdXJwb3NlU3RyaW5n
		IjoiUmVxdWlyZWQgdG8gcHJvdmlkZSBDYW1wdXMgTWFwIExvY2F0aW9uIGFu
		ZCBFVEFzLiJ9XSwic3VwcG9ydGVkRGV2aWNlRmFtaWxpZXMiOlsicGFkIiwi
		cGhvbmUiXSwic3VwcG9ydGVkSW50ZXJmYWNlT3JpZW50YXRpb25zIjpbeyJw
		b3J0cmFpdCI6e319LHsibGFuZHNjYXBlUmlnaHQiOnt9fSx7ImxhbmRzY2Fw
		ZUxlZnQiOnt9fSx7InBvcnRyYWl0VXBzaWRlRG93biI6eyJjb25kaXRpb24i
		OnsiZGV2aWNlRmFtaWxpZXMiOlsicGFkIl19fX1dfV19XSwidGFyZ2V0cyI6
		WyJBcHBNb2R1bGUiXSwidHlwZSI6eyJleGVjdXRhYmxlIjpudWxsfX1dLCJ0
		YXJnZXRNYXAiOnsiQXBwTW9kdWxlIjp7ImRlcGVuZGVuY2llcyI6W3sicHJv
		ZHVjdCI6WyJTd2lmdFNvdXAiLCJTd2lmdFNvdXAiLG51bGwsbnVsbF19LHsi
		cHJvZHVjdCI6WyJUb2FzdHMiLCJzd2lmdHVpLXRvYXN0cyIsbnVsbCxudWxs
		XX1dLCJleGNsdWRlIjpbXSwibmFtZSI6IkFwcE1vZHVsZSIsInBhY2thZ2VB
		Y2Nlc3MiOnRydWUsInBhdGgiOiIuIiwicmVzb3VyY2VzIjpbXSwic2V0dGlu
		Z3MiOlt7ImtpbmQiOnsiZW5hYmxlVXBjb21pbmdGZWF0dXJlIjp7Il8wIjoi
		QmFyZVNsYXNoUmVnZXhMaXRlcmFscyJ9fSwidG9vbCI6InN3aWZ0In1dLCJ0
		eXBlIjoiZXhlY3V0YWJsZSJ9fSwidGFyZ2V0cyI6W3siZGVwZW5kZW5jaWVz
		IjpbeyJwcm9kdWN0IjpbIlN3aWZ0U291cCIsIlN3aWZ0U291cCIsbnVsbCxu
		dWxsXX0seyJwcm9kdWN0IjpbIlRvYXN0cyIsInN3aWZ0dWktdG9hc3RzIixu
		dWxsLG51bGxdfV0sImV4Y2x1ZGUiOltdLCJuYW1lIjoiQXBwTW9kdWxlIiwi
		cGFja2FnZUFjY2VzcyI6dHJ1ZSwicGF0aCI6Ii4iLCJyZXNvdXJjZXMiOltd
		LCJzZXR0aW5ncyI6W3sia2luZCI6eyJlbmFibGVVcGNvbWluZ0ZlYXR1cmUi
		OnsiXzAiOiJCYXJlU2xhc2hSZWdleExpdGVyYWxzIn19LCJ0b29sIjoic3dp
		ZnQifV0sInR5cGUiOiJleGVjdXRhYmxlIn1dLCJ0b29sc1ZlcnNpb24iOnsi
		X3ZlcnNpb24iOiI1LjkuMCJ9fQ==
		</data>
		<key>manifestHash</key>
		<data>
		6qfkr0KIh93Gh59r/ybWlxTuhZNo8Me56F9gINMyom8=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>6.0.2-dev</string>
	</dict>
</dict>
</plist>
